body {
  margin: 0;
}

main,
footer {
  padding: 10px;
}

/*heading styling*/

h1,
h3,
h5 {
  margin: 0;

}

h3,
h5 {
  color: #9F9F9F;
}

#author {
  color: #589bb9;
}

/*sfondo colorato + logo*/
#banner {
  background-color: #4EA1FF;
  background-image: url(../img/pattern.png);
  height: 130px;
}

#banner img {
  padding-top: 50px;
  height: 80px;
}

#head-photos span {
  font-size: 70%;
}

/* /heading styling*/

/*article styling*/
ul {
  padding-left: 15px;
}

.article span {
  background-color: yellow;
}

/* table color styling*/
table {
  border-collapse: collapse;
}

table th {
  background-color: #21A9E6;
  color: white;
}

table tr:nth-child(odd) {
  background-color: #B1E6F2;
}

table td:last-child {
  width: 50%;
}

table th {
  text-align: left;
}

/*footer*/
footer span {
  color: white;
  position: relative;
  top: 40px;
  padding-left: 10px;
}

footer h5 {
  font-weight: bold;
}